@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans:300,700');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-image: url(assets/bg_salad.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  padding: 1em;
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

aside#sidebar {
  flex-basis: auto;
  flex-grow: 0;
  min-width: 20em;
  margin: 0 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.75);
  border: solid 0.5px rgba(0,0,0,0.6);
  box-sizing: border-box;
  height: 100%;
}

div#content-wrapper {
  flex-grow: 1;
  margin: 0 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.75);
  border: solid 0.5px rgba(0,0,0,0.6);
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
}

#sidebar a {
  display: block;
  color: black;
  text-decoration: none; /* no underline */

}


#sidebar-navigation span {
  cursor: pointer;
}

a.sidebar-theme {
  padding-left: 1em;
}

a.sidebar-theme.active {
  font-weight: 700;
}

a.sidebar-theme:not(.quiz-complete) .checkmark {
  display: none;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  margin-bottom: 0;
}

/* arrows for sidebar */
.sidebar-chapter:before,
.sidebar-theme:before {
    content: "";
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 3px;
    margin-right: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.sidebar-chapter.open:before,
.sidebar-theme.open:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(assets/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

.radioCustomButton.answer-wrong:checked ~ .radioCustomLabel:before {
    content: '';
    background: red url(assets/icon-false.svg) no-repeat;
    background-size: 27px;
    border-color: red;
}

/* Checkmark */
.checkmark {
    display:inline-block;
    width:1.375em;
    height:1.375em;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 0.8em;
    margin-left: 0.5em;
}

.checkmark_circle {
    position: absolute;
    width:1.375em;
    height:1.375em;
    background-color: green;
    border-radius:0.6875em;
    left: 0.1em;
    top: 0.1em;
}

.checkmark_stem {
    position: absolute;
    width: 0.1875em;
    height: 0.5625em;
    background-color: #fff;
    left: 0.7875em;
    top: 0.475em;
}

.checkmark_kick {
    position: absolute;
    width:0.1875em;
    height:0.1875em;
    background-color:#fff;
    left:0.6em;
    top:0.85em;
}

#home p {
  margin-top: 0.3em;
}

#home-boxes {
  display: flex;
}

#home #home-start {
  flex-grow: 1;
  padding-right: 1em;
}

#home #home-sidebar {
  flex-grow: 0;
  flex-basis: auto;
  min-width: 12em;
}

#latest-themes > a {
  display: block;
}

/* Buttons */

.btn {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-default {
  color: #fff !important;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-default:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-default:focus, .btn-default.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-default.disabled, .btn-default:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

a, a:visited {
  color: #28a745;
}

a:hover, a:focus, a:active {
  color: rgba(16, 111, 38, 0.93);
}


/*score*/
#quiz-score.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz-score.result span {
  font-weight: bold;
}

#quiz-score .rc-progress-circle  {
  width: 200px;
  margin: 20px 0px;
}
